<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-top ion-text-center" style="width: 100%">
    <h2>COVID-19.TN</h2>
    <h2>شد_دارك#</h2>
  </div>

  <ion-grid class="ion-padding-top">
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <div>

        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <ion-avatar style="width: 100px; height: 100px">
            <img src="assets/img/itAcademy.jpg">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding-top ion-text-center" style="width: 100%">
    <p>Developed by IT Academy Club</p>
  </div>
</ion-content>
