<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <div class="ion-padding-top ion-text-center" style="width: 100%">-->
<!--    <h2>COVID-19</h2>-->
<!--  </div>-->

<!--  <ion-grid class="ion-padding-top">-->
<!--    <ion-row class="ion-justify-content-center">-->
<!--      <ion-col size="3">-->
<!--        <div>-->

<!--        </div>-->
<!--      </ion-col>-->
<!--      <ion-col size="3">-->
<!--        <div>-->
<!--          <ion-avatar style="width: 100px; height: 100px">-->
<!--            <img src="assets/img/itAcademy.jpg">-->
<!--          </ion-avatar>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--      <ion-col size="3">-->
<!--        <div>-->

<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->

<!--  <div class="ion-padding">-->
<!--    <ion-card-header>-->
<!--      <ion-card-title class="ion-text-center"><h1>شد_دارك#</h1></ion-card-title>-->
<!--    </ion-card-header>-->
<!--    <ion-card-content class="ion-text-right">-->
<!--      <h2>ما نسلموش علي بعضنا و ما نسلموش في بعضنا-->
<!--        أقسم مع جارك و عاونو  كان يحتاجك-->
<!--        لكلنا يد وحدة نحميو رواحنا و صغارنا و ناس اللي نحبوهم-->
<!--      </h2>-->
<!--      <h2>شد دارك و إحمي بلادك#</h2>-->
<!--      <h2>مع بعضنا غدوة خير#</h2>-->
<!--    </ion-card-content>-->
<!--  </div>-->
<!--  <div class="ion-padding-top ion-text-center" style="width: 100%">-->
<!--    <p>Developed by IT Academy Club</p>-->
<!--  </div>-->



  <ion-item>
    <ion-label>
      <p>Informations from www.worldometers.info <br>| Facebook | Twitter</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/itAcademy.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Author: IT Academy Club</h2>
    </ion-label>
  </ion-item>

  <ion-grid class="ion-padding-top">
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <div>

        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <ion-avatar style="width: 100px; height: 100px">
            <img src="assets/img/icons8-virus-free-480.png">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding" style="padding-top: 0px;">
      <ion-card-header>
        <ion-card-title class="ion-text-center"><h1>شد_دارك#</h1></ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-right">
        <h2>ما نسلموش علي بعضنا و ما نسلموش في بعضنا
          أقسم مع جارك و عاونو  كان يحتاجك
          لكلنا يد وحدة نحميو رواحنا و صغارنا و ناس اللي نحبوهم
        </h2>
        <h2>شد دارك و إحمي بلادك#</h2>
        <h2>مع بعضنا غدوة خير#</h2>
      </ion-card-content>
    </div>
</ion-content>
