<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Global Coronavirus information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card  class="ion-text-center">
    <ion-card-header>

        <ion-card-title>
          <ion-text color="danger">Globla Cases Confirmed</ion-text>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
          <h1>{{info?.cases | number}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card  class="ion-text-center">
    <ion-card-header>

      <ion-card-title>
          Deaths
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{info?.deaths | number}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card  class="ion-text-center">
    <ion-card-header>

      <ion-card-title>
        <ion-text color="success">Recovered</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{info?.recovered | number}}</h1>
    </ion-card-content>
  </ion-card>
</ion-content>
