<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>protection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <img src="https://www.flagsonline.fr/uploads/2016-6-6/1200-0/tunisia.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center"><h1>شد_دارك#</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-right">
      <h2>ما نسلموش علي بعضنا و ما نسلموش في بعضنا
        أقسم مع جارك و عاونو  كان يحتاجك
        لكلنا يد وحدة نحميو رواحنا و صغارنا و ناس اللي نحبوهم
      </h2>
      <h2>شد دارك و إحمي بلادك#</h2>
      <h2>مع بعضنا غدوة خير#</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
